<div
  class="card-container"
>
  <div class="card-container-img">
    <swiper-container
      fmSwiper [config]="mainSwiperConfig"
      init="false"
      class="w-full card-container-img-swiper"
    >
      <swiper-slide
        class="w-[310px] sm:w-[450px] pb-6 swiper-slide"
        *ngFor="let slide of card.images"
      >
        <img
          [src]="imageUrl+slide"
          alt="Card Image"
          class="card-container-img-image"
          [routerLink]="'/productPage/' + card.id"
        >
      </swiper-slide>
    </swiper-container>
  </div>

  <div class="card-info">
    <div
      class="name"
      [routerLink]="'/productPage/' + card.id"
    >{{ card.name }}
    </div>

    <div class="purchase">
      <app-average-stars [product]="card"></app-average-stars>
    </div>

    <div class="buying">
      <div class="buying-price">{{ card.price.toLocaleString('ru-RU') }} ₴</div>

      <div class="buying-buttons">
        <button
          (click)="toggleLike($event)"
          [class.buying-buttons-like-active]="isLiked"
          class="buying-buttons-like"
        ></button>

        <div class="buying-buttons-basket">
          <button
            (click)="toggleBasket($event)"
            [class.buying-buttons-basket-icon-active]="isBasket"
            class="buying-buttons-basket-icon"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
