@import "src/assets/styles/colors.scss";

.card-container {
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  transform: translateY(0);

  &:hover {
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px) scale(1.01);

    .card-container-img {
      background-color: white;
    }
  }
}

.card-container-img {
  position: relative;
  background: $chld-block-color;
  border-radius: 10px 10px 0 0;
  padding: 20px 20px;
  transition: all 0.3s ease-in-out;

  &-image {
    width: 100%;
    height: 250px;
    object-fit: contain;
    cursor: pointer;
  }
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  gap: 5px;

  .name {
    font-size: 18px;
    cursor: pointer;
  }

  .purchase {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-stars {
      display: flex;
      gap: 1px;

      .star {
        width: 15px;
        height: 15px;
        mask-image: url("/assets/icons/star.svg");
        mask-position: center;
        mask-size: contain;
        mask-repeat: no-repeat;
        border: none;
      }

      .filled {
        background-color: gold;
      }

      .empty {
        background-color: lightgray;
      }
    }
  }

  .buying {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -5px;

    &-price {
      font-size: 16px;
      cursor: context-menu;
    }

    &-buttons {
      display: flex;
      align-items: center;
      gap: 10px;

      &-like {
        width: 25px;
        height: 25px;
        mask-image: url("/assets/icons/like.svg");
        mask-position: center;
        mask-size: contain;
        mask-repeat: no-repeat;
        background-color: $text-color;
        border: none;
        z-index: 1;

        &-active {
          mask-image: url("/assets/icons/isLike.svg");
          background-color: red;
        }
      }

      &-basket {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        border-radius: 5px;

        &-icon {
          width: 25px;
          height: 25px;
          mask-image: url("/assets/icons/basket.svg");
          mask-position: center;
          mask-size: contain;
          mask-repeat: no-repeat;
          background-color: $text-color;
          border: none;

          &-active {
            width: 25px;
            height: 25px;
            mask-image: url("/assets/icons/isBasket.svg");
          }
        }

        &:hover {
          background: $global-black-10;
        }
      }
    }
  }
}
