@import "src/assets/styles/colors.scss";

.sidebar-container {
  display: flex;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background: white;

  &-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background: none;
    padding: 10px 20px;

    &-name {
      font-size: 18px;
      margin: 0;
    }

    &-logo {
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      border-radius: 50%;
      width: 40px;
      height: 40px;

      &-text {
        font-size: 20px;
        font-weight: bold;
        color: $white;
      }

      &:hover {
        background: white;
      }
    }

    &-log-reg {
      padding: 5px 20px;
      background: $global-black-10;
      border-radius: 8px;
      border: 1px solid $global-black-20;
      transition: backgraund .2s ease-in-out;

      &:hover {
        background: $global-black-5;
      }
    }
  }

  &-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    &-text {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 18px;

      .icon {
        width: 30px;
        height: 30px;
      }
    }

    &-close {
      width: 20px;
      height: 20px;
      background-color: transparent;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      border-radius: 5px;

      &:hover {
        background-color: $block-color;
      }
    }
  }

  &-catalog {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    cursor: pointer;

    &-text {
      font-size: 16px;
      margin: 0;
    }

    &-img {
      width: 20px;
      height: 20px;
      padding: 10px;
    }

    &:hover {
      background: $global-black-5;
    }
  }

}

.sidebar-catalog-content {
  background: $chld-block-color;
}

::ng-deep {
  .user-navigation {
    margin-top: 5px !important;
    margin-left: -50px !important;
    padding: 0;

    .user-menu {
      display: flex;
      flex-direction: column;

      &-item {
        min-width: 150px;
        border: none;
        background: $white;
        padding: 10px;
        text-align: left;

        &:hover {
          background: $global-black-10;
        }
      }
    }
  }

  .mat-mdc-menu-content {
    padding: 0 !important;
  }
}
