.header {
  background-color: lightgray;
  padding: 20px 0;

  .container {
    display: flex;
    justify-content: space-between;
  }

  .menu {
    &-img {
      width: 20px;
      height: 20px;
      mask-image: url("/assets/icons/menu.svg");
      mask-position: center;
      mask-size: contain;
      mask-repeat: no-repeat;
      background-color: gray;
    }
  }

  .search {
    position: relative;

    &-input {
      width: 300px;
      height: 30px;
      border-radius: 6px;
      border: 1px solid black;
      padding: 0 55px 0 10px;
    }

    &-button {
      width: 40px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;

      &-img {
        width: 20px;
        height: 20px;
        mask-image: url("/assets/icons/search.svg");
        mask-position: center;
        mask-size: contain;
        mask-repeat: no-repeat;
        background-color: gray;
      }
    }
  }
}
