<mat-sidenav-container class="example-sidenav-container">
  <mat-sidenav #sidenav>
    <app-sidebar
      (toggleSidenav)="sidenav.toggle()"
    ></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>

    <div class="container">
      <div class="main-container">
        <app-header
          *ngIf="!isBuyingPage"
          (toggleSidenav)="sidenav.toggle()"
        ></app-header>

        <div class="content">
          <router-outlet></router-outlet>
        </div>

        <app-footer *ngIf="!isBuyingPage"></app-footer>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
