.mat-drawer-content {
  display: inline !important;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .content {
    position: relative;
    flex: 1 1 auto;
  }
}
