.item {
  display: flex;
  align-items: center;
  gap: 10px;

  &-icon {
    width: 30px;
    height: 30px;
  }

  &-method {
    min-width: 230px;
    font-size: 15px;
    line-height: 1;
    margin-left: 10px !important;
  }

  &-date {
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    margin-left: 50px !important;
  }

  &-price {
    font-size: 15px;
    line-height: 1;
    text-align: right;
  }

  &-method,
  &-date,
  &-price {
    flex: 1;
  }
}
