<footer class="footer">

  <div class="footer-info">
    <p class="footer-info-title">Информация о компании</p>

    <p class="footer-info-text">О нас</p>
    <p class="footer-info-text">Вакансии</p>
    <p class="footer-info-text">Контакті</p>
    <p class="footer-info-text">Все категории</p>
  </div>

  <div class="footer-help">
    <p class="footer-info-title">Помощь</p>

    <p class="footer-info-text">Доставка и оплата</p>
    <p class="footer-info-text">Кредит</p>
    <p class="footer-info-text">Гарантия</p>
    <p class="footer-info-text">Возврат товара</p>
  </div>

  <div class="footer-services">
    <p class="footer-info-title">Сервисы</p>

    <p class="footer-info-text">Бонусный счет</p>
    <p class="footer-info-text">Подарочные сертификаты</p>
    <p class="footer-info-text">Постоянным клиентам</p>
  </div>

  <div class="footer-partners">
    <p class="footer-info-title">Партнёрам</p>

    <p class="footer-info-text">Продавать у нас</p>
    <p class="footer-info-text">Сотрудничество</p>
    <p class="footer-info-text">Аренда помещений</p>
  </div>

</footer>
