@import "src/assets/styles/colors.scss";

.buying {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  margin-top: 20px;
  background: $global-black-5;
  box-shadow: 0 2px 5px rgba(48, 48, 48, .05);
  border-radius: 5px;
  gap: 20px;

  &-header {
    font-size: 36px;
    line-height: 1;
    color: $global-black-80;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    height: 100%;

    &-details {
      width: 65%;
    }

    &-basket {
      position: sticky;
      top: 20px;
      width: 25%;
    }
  }
}
